{% extends 'layout.html' %}

{% block content %}
<div>
    <table id="example" class="table-striped">
        <thead>
          <tr>
            <th scope="col">Discolsure Year</th>
            <th scope="col">Disclsure Date</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Ticker</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Rep</th>
            <th scope="col">District</th>
          </tr>
        </thead>
    {% for resposes in response %}
        <tbody>
          <tr>
            <td>{{resposes['disclosure_year']}}</td>
            <td>{{resposes['disclosure_date']}}</td>
            <td>{{resposes['transaction_date']}}</td>
            <td>{{resposes['ticker']}}</td>
            <td>{{resposes['type']}}</td>
            <td>{{resposes['amount']}}</td>
            <td>{{resposes['representative']}}</td>
            <td>{{resposes['district']}}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>

{% endblock %}








